.header {
  /* width: 90vw;
  float:right;  
  height: 10vh; */

}

.table {
  /* width: 90vw;
  float: right;
  height: 90vh; */
}

.main {
  height: 100vh;
  

}

/* .blacklistItem {
  padding : 0px 50px 0px 10px;
}

#askForBlacklist {

}

.vertical-center{
  margin: 15vh;
}
.horizontal-center{
  text-align: center;
  align-items: center;
}

.button {
  background-color: #175667;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} */
.main {
  
}