body {
  margin : 0;
  padding : 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.topnav {
  position: absolute;
  height: 5vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  padding-left: 2em;

  
}
#sidenav {
  width: 5vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: darkgray;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
}
.grid-item {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #555555;
  text-align: center;
  border-radius: 3px;
}
.grid-item svg {
  padding-top: 20%;
}
.container {
  height: 100%;
  width: 95vw;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ddd; 
  display: none;
}

#dashboard-stats {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 2%;
  grid-gap: 1em;
  

}
.stats {
  height: 35vh;
  width: 45.5vw;
  background-color: white;
  border-radius: 5px;
  text-align:center;
}
.graphs {
  height: 50vh;
  width: 45.5vw;
  background-color: white;
  border-radius: 5px;
  text-align:center;
}
.menu {
  height: 5vh;
  width: 12vw;
  margin-top: 5vh;
  margin-left: 80%;
}
.menu select {
   height: 2em;
   font-size: 16px;
   outline:none;
   color: black;
   background-color: white;
   font-family: 'Montserrat', sans-serif;
   border: none;
   
}
#userCount {
  border-radius:3px;
  background-color: white;
  height: 2em;
  width: 100px;
  
  display: inline-block;
}

#refresh {
  border-radius:3px;
  background-color: white;
  height: 2em;
  width: 100px;
 
  display: inline-block;
}

td {
  
  text-align: center;
}
#report-summary {
  height: 30vh;
  width: 92vw;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: -1em;

}

#report-analysis {
  height: 50vh;
  width: 92vw;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  display: block;
  margin: auto;
}
